
@include SM
{
    .w_f{  
        float: none;
        width: 100%;
    }
    header{
        position: static;
        text-align: center;
        
        ul{
            
            display: block;
        }
    }
    .home-content{ 
        top:70%;
    }
    .h2{
        font-size: 1.5rem;
    }
    .item{
        h3{
            font-size: 1rem;
        }
    
    }
    .service{
        .grid-container{
            grid-template-columns: repeat(2,1fr);
        }
    }
    .images{
        grid-template-columns: repeat(2,1fr);
    }
   
}
@include MD
{

}
@include LG
{

}
@include XS
{
    .service{
        .grid-container{
            grid-template-columns: 1fr;
        }
    }
    .images{
        grid-template-columns: 1fr;
    }
}
